target/
.project
.classpath
.settings/
.idea/
*.iml
.DS_Store
zamrad-api.log
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!/src/test/resources/schema-mysql.sql
